.calendar-grid {
  display: grid;
  grid-template-rows: 40px repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 15px;
  font-weight: 400;
  color: black;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  transition: all .5s ease;

}

.calendar {
  margin: 5%;
}

#year {
  font-weight: 900;
}

.controls {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  align-items: center;
  margin-bottom: 15px;
}

.festive {
  color: red;
  font-weight: 900;
}

.current-day {
  background-color: dodgerblue;
  color: white;
  font-weight: 900;
}

button {
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.weekday {
  font-weight: 900;
  border-bottom: 1px solid grey;
}